
@{
    ViewData["Title"] = "IndexLoggedOut";
}

<main>
    <div class="jumbotron mt-3 bg-mishmash">
        <h1 class="text-white">Welcome to Mish-Mash Media Channels</h1>
        <hr class="bg-white hr-2"/>
        <h3 class="text-white"><a asp-area="Identity" asp-page="/Account/Login">Login</a> if you have an account.</h3>
        <h3 class="text-white"><a asp-area="Identity" asp-page="/Account/Register">Register</a> if you don't.</h3>
    </div>
</main>

@section MenuItems{
    <h1>Please Log In</h1>
}