
@{
    ViewData["Title"] = "Index";
}

<nav>
    <ul>
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Contacts</a></li>
    </ul>
    
    <vc:latest-user text="Zaebi"></vc:latest-user>
</nav>

